<div class="relative w-full">
  @if (type === 'textarea') {
    <textarea
      [name]="name"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [rows]="rows"
      [value]="val()"
      [autofocus]="autofocus"
      (input)="onInput($event)"
      (keydown.enter)="enter.emit()"
      class="form-textarea placeholder:text-sm placeholder:font-normal placeholder:font-sans {{ customClass }}"
    ></textarea>
  } @else {
    <input
      [type]="type"
      [name]="name"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [min]="min"
      [max]="max"
      [step]="step"
      [attr.inputmode]="inputmode || null"
      [value]="val()"
      [autofocus]="autofocus"
      (input)="onInput($event)"
      (keydown.enter)="enter.emit()"
      class="form-input placeholder:text-sm placeholder:font-normal placeholder:font-sans {{ customClass }}"
    />
  }
</div>